@using Internet_banking.Core.Application.ViewModels.User;
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Recuperar Contraseña";
}

<div class="w-100 bg-whitegray d-flex flex-row justify-content-between align-items-center" style="height: 82.4vh">

    @if (Model?.HasError != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p>@Model.Error</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

        <form method="post" asp-controller="User" asp-action="ResetPassword" class="w-25 p-2 rounded bg-white mx-auto shadow-sm">

            <div class="text-center">
                <h2>Cambiar contraseña</h2>
                <small>
                    Puede usar este formulario para <span class="text-purple">Recuperar</span> su contraseña.
                </small>
            </div>

            <!-- Divider -->
            <div class="my-3 w-100 d-flex flex-row justify-content-evenly align-content-center divider">
            </div>

            <div class="w-100">
                <label asp-for="Email" class="form-label text-sm-left">Correo: </label>
                <input asp-for="Email" class="form-control bg-whitegray" />
                <span asp-validation-for="Email" class="text-purple"></span>
            </div>

            <div class="w-100">
                <label asp-for="Password" class="form-label text-sm-left">Contraseña: </label>
                <input asp-for="Password" class="form-control bg-whitegray" />
                <span asp-validation-for="Password" class="text-purple"></span>
            </div>

            <div class="w-100">
                <label asp-for="ConfirmPassword" class="form-label text-sm-left">Confirmar contraseña: </label>
                <input asp-for="ConfirmPassword" class="form-control bg-whitegray" />
                <span asp-validation-for="ConfirmPassword" class="text-purple"></span>
            </div>
            
            <div class="w-100 my-2 mt-3">
                <button type="submit" class="btn btn-purple">Guardar</button>
                <a asp-controller="User" asp-action="Index" class="btn btn-light w-75">Volver atras</a>
            </div>

    </form>
</div>