html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Special */
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.divider-gray:after,
.divider-gray:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #606060;
}

/* scroll bar */
.scrollbar {
    float: left;
    height: 300px;
    width: 65px;
    overflow-y: scroll;
}

.scrollbar-purple::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-purple::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-purple::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(111, 66, 193);
}

/* our bgs */
.bg-purple {
    background: rgb(111, 66, 193);
}

.bg-whitegray {
    background: rgb(242, 243, 245);
}

/* our borders */
.border-purple {
    border-color: rgb(242, 243, 245);
}

/* our texts */
.text-purple {
    color: rgb(111, 66, 193);
}

/* btn */
.btn-purple {
    background: rgb(111, 66, 193);
    padding: 0.40rem 0.75rem;
    color: white;
    transition: .5s all ease;
}

    .btn-purple:hover {
        background: rgb(99, 47, 193);
        color: white;
    }

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
